<header>
    <nav>
        <ul>
            <li><a href="#">Página de inicio</a>
            <li><a href="#">Empleados HTML</a>
            <li><a href="#">Empleados JSON</a>
        </ul>
    </nav>
</header>